PKCE code verifier does not follow RFC (use "~" and "." as characters)

Hosted Link: https://auth0.com/docs/flows/call-your-api-using-the-authorization-code-flow-with-pkce#create-code-verifier
Src: https://github.com/auth0/docs/blob/master/articles/flows/guides/auth-code-pkce/includes/create-code-verifier.md

(This issue may also be a problem for other languages, but I'll only speak to JS.)

## Issue

The example uses `base64URLEncode(crypto.randomBytes(32))` to create a code verifier. However, the characters `~` and `.` are never part of the verifier strings, as [the RFC suggests that they should be](https://tools.ietf.org/html/rfc7636#section-4).


## Comparison to `pkce-challenge`
I compared this to the npm package `pkce-challenge`. [I asked the maintainer why he wasn't using the simpler solution that your docs proppose.](https://github.com/crouchcd/pkce-challenge/issues/4). [I also created a codesandbox to verify the comparisons.](https://codesandbox.io/s/pkce-challenge-vs-cryptorandombytes-f9yz2?file=/src/index.js)

---

Am I missing something here, or are the docs needing to be updated (or at least mention that it doesn't follow the RFC)?

I stumbled on this issue through a series of searches while looking for the "correct" way to generate a PKCE code verifier (I also found the related question in https://github.com/crouchcd/pkce-challenge/issues/4). It is worth noting that RFC 7636 doesn't actually suggest that _all_ of the characters be used. It simply defines the _allowed_ set of characters which includes:
```
[A-Z] / [a-z] / [0-9] / "-" / "." / "_" / "~"
```
Which happens to be the characters allowed in URIs (see [Section 2.3 of [RFC3986]](https://datatracker.ietf.org/doc/html/rfc3986#section-2.3))

However, it then goes on to state the following:

> The code verifier SHOULD have enough entropy to make it impractical to guess the value.

So, RFC 7636 simply states that you should generate a random string that has sufficient entropy. It then even goes on to recommend a specific implementation:

> It is RECOMMENDED that the output of a suitable random number generator be used to create a 32-octet sequence. The octet sequence is then base64url-encoded to produce a 43-octet URL safe string to use as the code verifier.

This, in fact, aligns with what is recommended by the Auth0 docs.